div{
    display: block;
    margin: 20px 0px;
    font-size: 25px;
}
button {
    display: block;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;

}
button:hover{
    color: red;
}